<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' type='text/css' href='/styley.css'>
  </head>
  <body>
    <table>
      <th>id<th>name<th>age
<tr><td><%= writer[0].id %></td><td><%= writer[0].name %></td><td><%= writer[0].age %></td>
    </table>
  </body>
</html>
